.card{
	width: 100%;
	box-shadow: 10px 10px 5px 12px #888888;
	transition:0.3s；
		}
			
.card:hover{
	box-shadow: 0 8px6px 0 rgba(0,0,0,0,2);
	
.container{
	padding:2px 16px;
			}
			
.lxgw-wenkai-tc-regular {
	font-family: "LXGW WenKai TC", cursive;
	font-weight: 400;
	font-style: normal;
}